<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>

    <bean name="taskRepository" class="ro.dbts.repository.HibernateTaskRepository" />

    <bean name="taskService" class="ro.dbts.service.SimpleTaskService">
        <constructor-arg index="0" ref="taskRepository" />
        <!--
        Constructor injecton can be used together with setter injection if multiple objects are needed
        <property name="..." ref="..." />
        -->
    </bean>

</beans>